.main {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

/* header */

header {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100px;
    padding: 24px 0;
}

#logo {
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.44px;
}

#button {
    border-radius: 32px;
    background: #524A44;
    padding: 12px 18px;
}

#button_state_1 {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 900;
}

#button_state_2 {
    display: none;
}

header nav ul {
    display: flex;
    column-gap: 36px;
    align-items: center;
}

header nav ul li {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

/* section 1 */

#section_1 {
    height: 520px;
    width: 100%;
    background-image: url("../images/cover-1024.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
}

#section_1 h2 {
    text-shadow: 3px 3px 4px #FFF;
    font-family: Inter;
    font-size: 56px;
    font-weight: 900;
    text-align: center;
    line-height: 60px;
}

#section_1 a button {
    color: #F3F3F3;
    font-family: Inter;
    font-size: 16px;
    font-weight: 900;
    border-radius: 32px;
    background: #000;
    box-shadow: 0px 4px 4px 0px #FFF;
    height: 48px;
    padding: 12px 30px;
}

/* section 2 */

#section_2 {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10%;
    padding: 60px 10%;
}

#section_2 img {
    border-radius: 32px;
    object-fit: cover;
    width: 490px;
    height: 400px;
    flex-shrink: 0;
}

#section_2 article {
    display: flex;
    width: 490px;
    flex-direction: column;
    row-gap: 20px;
}

#section_2 article h4 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
}

#section_2 article p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
}

/* section 3 */

#section_3 {
    height: 300px;
    padding: 80px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

#section_3 article {
    background: #E3DAD8;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
}

#section_3 article div {
    display: flex;
    align-items: center;
    column-gap: 16px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

/* footer */

footer {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 100px 10%;
}

#logo_2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
}

footer div {
    display: flex;
    color: #FFF;
    column-gap: 10px;
}

.footer_div_inner {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.footer_div_inner a {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
}

footer div div h6 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
}